<div class="user-details">
  <h2>What is Dana-X?</h2>
  <p> {{site.user_description}} </p>
  <h2>How do i get a token ? </h2>
  <p>You can buy it on an available exchange, If that's not your style, the easiest way to have your first token is by participating in our community.</p>
  <h2>Compatible Wallet</h2>
  <h3>
   <p>
        <a href="https://myetherwallet.com/" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> MEW</a>
        <a href="https://metamask.io/" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Metamask</a>
        <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Trust wallet</a>
        <a href="https://play.google.com/store/apps/details?id=im.token.app" class="btn btn-lg btn-outline"><i class="fa fa-download"></i> Imtoken</a>
   </p>
  </h3>
  <h1>Join and getting started now ! </h1>
  </div>
